*,
*::after,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  font-size: 62.5%;
}
body {
  font-family: "Outfit", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr max-content 1fr;
  background-color: #0d1a2d;
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 55%;
  }
  .container-img {
    padding: 0;
  }
}
@media only screen and (max-width: 25em) {
  html {
    font-size: 45%;
  }
}
/* container */
.container {
  grid-row: 2 / 3;
  align-self: center;
  justify-self: center;
  box-shadow: 0 3rem 0rem 2rem rgba(0, 0, 0, 0.06);
  display: grid;
  grid-template-columns: 1fr repeat(2, 7fr) 1fr;
  grid-template-rows: repeat(6, min-content) 2rem;
  background-color: #15273f;
  border-radius: 2rem;
  width: 40rem;
}
.container > * {
  grid-column: 2 / -2;
  margin: 1rem 0;
}
.container-img {
  margin: 0;
  margin-bottom: 1rem;
  padding: 3rem 0 0 0;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  position: relative;
}

/* img */
.container img {
  border-radius: 2rem;
  width: 100%;
  background-size: cover;
}
.img-hover {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 93%;
  background-color: rgba(0, 255, 247, 0.5);
  opacity: 0;
  /* visibility: hidden; */
  transition: all 0.1s;
}
.img-hover:hover {
  opacity: 1;
}
.img-hover img {
  width: 6rem;
}
/* items  */
.header {
  grid-row: 2 / 3;
  /* grid-column: 2 / 3; */
}
.header > h1 {
  font-weight: 600;
  font-size: 2rem;
  color: white;
  display: inline-block;
}
.header > h1:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}
.paraghraph {
  font-size: 1.8rem;
  color: hsl(215, 51%, 70%);
  grid-row: 3 / 4;
  font-weight: 300;
}
.details {
  grid-row: 4 / 5;
  display: flex;
  justify-content: space-between;
}
.details > .time {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 400;
  color: hsl(215, 51%, 70%);
}
.details > .time img {
  width: 2rem;
  margin-right: 1rem;
}
.details > .price {
  display: flex;
  align-items: center;
  font-size: 1.8;
  font-weight: 600;
  color: hsl(178, 100%, 50%);
}
.details > .price img {
  width: 2rem;
  margin-right: 1rem;
}
span {
  background-color: #2e4058;
  grid-row: 5 / 6;
  width: 100%;
  height: 0.1rem;
}
.manufacturer {
  grid-row: 6 / 7;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.profile {
  width: 4rem;
  border: 2px white solid;
  border-radius: 50%;
  margin-right: 2rem;
}
.profile > img {
  width: 100%;
  background-size: cover;
}
.creater {
  font-weight: 300;
  font-size: 1.8rem;
  color: hsl(215, 51%, 70%);
}
.creater > span {
  background-color: transparent;
  color: white;
}

.creater > span:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}
.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  color: white;
  margin-bottom: 2rem;
}
